{{block "content" .}}
<div class="flex">
    <h1>PasteBin</h1>
    <form method="post">
        <textarea name="content" autofocus></textarea>
        <div class="grid">
            <button type="reset" class="secondary">Clear</button>
            <button type="submit">Submit</button>
        </div>
    </form>
    <p>Please note that text is only stored for 24 hours</p>
</div>

<style>
    h1 {
        margin: 0;
        text-align: center;
    }

    p {
        text-align: center;
    }

    textarea {
        min-height: 65vh;
    }

    form {
        margin: 0;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        gap: 1rem;
    }
</style>

{{end}}